autosave/
RuinsSingleplayer-compile.map
RuinsSingleplayer.bsp.geometry.obj
RuinsSingleplayer.bsp.json
RuinsSingleplayer.leak.prt
RuinsSingleplayer.log
RuinsSingleplayer.pts
RuinsSingleplayer.texinfo.json
